body {
	background-image: url(images.jpg);
	background-size: cover;
}
h1 {
	color: black;
	text-align:  center;
	cursor: pointer;
}

h2 {
	color: red;
	text-align: center;
	border: 5px solid black;
	cursor: pointer;
}
p {
	color: pink;
}
p {
	color: white;
}

